/* 
    Application CSS file for Gerisite 
*/

/* for Desktops */
@media screen and (max-width: 2000px) and (min-width: 940px) {
	.menu-l2>a {
		display: inline !important;
		color: #333333 !important;
		background-color: transparent !important;
	}
	.menu-l2 {
		line-height: 2.2em !important;
	}
	.menu-l3 {
		line-height: 0.9em !important;
	}

	/* 	top nav menu related  */
	.top-bar-section li>a {
		min-height: 40px !important;
	}
	.top-bar-section>ul>li>a:HOVER {
		/* 	border-bottom: thick solid #933A93; */
		color: #e99fd9;
	}
	.menu-top-font {
		/*         color: #333333; */
		/* 		font-size: 0.9em !important; */
		font-family: "Open Sans Condensed", serif;
		font-weight: bold;
		font-size: 1.3em !important;
	}
	.menu-sub-font {
		font-weight: bold !important;
		font-size: 1em !important;
	}

	/*     .top-bar .top-bar-section a:HOVER { */
	/*         		text-decoration: underline; */
	/*         color: #933A93; */
	/*         background-color: #F8F8F8; */
	/*     } */
	/*     .top-bar .top-bar-section a.selected { */
	/*         color: #933A93 !important; */
	/*     } */
	/*     .top-bar-section .dropdown li a { */
	/*         color: #111111; */
	/*     } */

	/* for the angled right side big in fashion box. */
	.hbg {
		background-color: white !important;
		border-right: 2.5em solid transparent;
		border-top: 5.5em solid #474747;
		height: 0;
		border-left: 4em solid #933A93 !important;
	}
	.hbg #bif {
		margin-top: -5em !important;
	}

	/* for the angled right side hader */
	.hbghead {
		background-color: white !important;
		border-right: 2.5em solid transparent;
		border-top: 3.5em solid #474747;
		height: 0;
		margin-bottom: 1em;
	}
	.hbghead .innerhead {
		margin-top: -1.5em !important;
		color: white;
	}
}

/* tablets or mobile specific  */
@media screen and (max-width: 939px) and (min-width: 50px) {
	/* 	top nav menu related  
    we want to be large enought to be clikable with finger 
    and border around make it look nice. */
	.top-bar-section li a {
		/*         border-style: solid !important; */
		/*         border-bottom: 1px !important; */
		/*         border-color: gray !important; */
		/*         border-width: 1px !important; */
		min-height: 50px !important;
	}
	.footerLeft {
		padding-left: 2% !important;
		float: right;
		padding-top: 2%;
		width: 100%;
	}
	.footerLeft ul li a {
		border-style: solid;
		border-width: 1px;
		cursor: pointer;
		font-family: inherit;
		font-weight: bold;
		line-height: 1;
		margin: 0 0 1.25em;
		position: relative;
		text-decoration: none;
		text-align: center;
		display: inline-block;
		padding-top: 0.75em;
		padding-right: 1.5em;
		padding-bottom: 0.8125em;
		padding-left: 1.5em;
		font-size: 1em;
		background-color: #444444;
		border-color: #999999;
		color: white !important;
	}
	.footerLeft ul li {
		border-style: none !important;
		padding-right: 2px !important;
	}
	.footerLeft ul li a:hover,.footerLeft ul li a:focus {
		background-color: #777777;
	}
	.footerLeft ul li a:hover {
		text-decoration: none !important;
	}
	.mobilenoshow {
		width: 0px;
		display: none !important;
	}
	#content {
		padding-bottom: 110px !important; /* Height of the footer element */
	}
	#footer {
		height: 110px !important;
	}
	.menu-l2>a {
		display: block !important;
		color: white !important;
	}
	.menu-l3 a {
		color: white !important;
		background-color: black !important;
		border: none !important;
	}
}

.hbg {
	background-color: #444444;
	border-left: 2em solid #933A93;
}

.hbg #bif {
	margin-top: 0;
}

/* for the angled right side hader */
.hbghead {
	background-color: #444444;
	margin-bottom: 1em;
}

.hbghead .innerhead {
	margin-top: 0;
	color: white;
}

.hbghead_title {
	background-color: white !important;
	border-right: 2.5em solid transparent;
	border-top: 2.5em solid #474747;
	height: 0;
	margin-bottom: 1em;
}

.hbghead_title .innerhead {
	margin-top: -1.7em !important;
	/* 	margin-left: 1em !important; */
	color: white;
}

.top-bar,#___gcse_0 {
	margin-top: 5px;
	margin-bottom: 5px !important;
}

div.large-3:nth-child(1)>h1:nth-child(1) {
	margin-top: 4px !important;
}

#big_purple {
	color: #bb52Ae !important;
}

.back_purple {
	background-color: #bb52Ae !important;
}

.back_black {
	background-color: #444444 !important;
	border-left-style: solid;
	border-left-width: 15px;
	border-left-color: #bb52Ae;
	-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.color_white {
	color: white !important;
	font-weight: bold;
	text-align: center;
}

.inline {
	display: inline;
}

.align_right {
	text-align: right;
}

.align_left {
	text-align: left;
}

.auto_margin {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

.round_corners {
	border-radius: 80px;
	border-color: transparent;
	border-style: solid;
	border-width: 1px;
}

.quote {
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
	font-color: white;
	color: white !important;
	text-align: center;
}

.back_purple h1 {
	margin-bottom: 5px !important;
}

div.orbit-caption {
	text-align: center !important;
}

.panel {
	padding: 10px 10px !important;
}

.panelWhite {
	padding: 11px 11px;
}

.box_rotate {
	-moz-transform: rotate(90deg); /* FF3.5+ */
	-o-transform: rotate(90deg); /* Opera 10.5 */
	-webkit-transform: rotate(90deg); /* Saf3.1+, Chrome */
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.9)";
	/* IE8 */
}

/*.top-bar-section .dropdown li a {
    padding: 0px 15px !important;
    line-height: 45px !important;
    opacity: 0.8;
    filter: alpha(opacity =             80);
     For IE8 and earlier 
}*/
.text-input {
	border-radius: 20px;
	/*     margin-top: 9px !important; */
	margin-bottom: 0 !important;
	padding: 2px !important;
	padding-left: 15px !important;
	padding-right: 10px !important;
	width: 85%;
	box-shadow: 2px 2px 4px 2px #777 inset !important;
	-moz-box-shadow: 2px 2px 4px 2px #777 inset !important;
	-webkit-box-shadow: 2px 2px 4px 2px #777 inset !important;
}

#filter-count {
	margin-top: 10px;
}

.searchdata p.margin4 {
	margin-bottom: 4px;
}

section .title {
	/* 	font-weight: bold; */
	/* 	font-family: georgia, serif; */
	
}

.button {
	background-color: #444444 !important;
}

.button-group {
	float: right !important;
}

#fbimg {
	/*     margin-top: 10px; */
	font-size: 28px;
	/*     position: relative; */
	/*     top: 10px; */
}

/*** footer specific */
footer {
	border-top: 3px solid #EDEAE5;
	font-weight: bold;
	font-weight: .8em;
	color: gray;
}

.footertext {
	padding-top: 2%;
	font-size: .75em;
	margin: 0px !important;
	/* 	line-height: 0.8em; */
}

.footerLeft {
	padding-left: 35%;
	float: right;
	padding-top: 2%;
	width: 100%;
}

.footerLeft ul li {
	display: inline;
	list-style: none;
	margin-right: 2%;
	padding-right: 10px;
	border-right: 2px solid #BAB7B2;
}

.footerLeft>ul:nth-child(1)>li:Last-child {
	border-style: none !important;
	margin-right: 0;
	padding-right: 0;
}

.footerLeft ul {
	margin-bottom: 5px;
}

.footerLeft ul li a {
	font-size: .75em;
	text-decoration: none;
	/* 	font-weight: bold; */
	color: #222222;
}

.footerLeft ul li a:hover {
	text-decoration: underline;
}
/* end footer */
#topbartab {
	width: 100%;
	border: none;
	margin: 0px;
}

.x_purple {
	color: #bb52Ae !important;
	font-size: 3em;
	font-family: "Edwardian Script ITC", "Brush Script MT", cursive;
	line-height: 100%;
}

/***** sticky footer *****/
body {
	margin: 0;
	padding: 0;
	height: 100%;
	/* 		font-family: "Open Sans Condensed", serif; */
}

#wrapper {
	min-height: 100%;
	position: relative;
}
/* #header { */
/* 	padding:10px;	 */
/* } */
#content {
	/* 	padding:10px; */
	padding-bottom: 55px; /* Height of the footer element */
}

#footer {
	height: 55px;
	position: absolute;
	bottom: 0;
	width: 100%;
}
/***** sticky footer End *****/
.contact {
	width: 90%;
	border-style: none;
	text-align: center;
	font-weight: bold;
}

.contact td.header {
	font-size: 1.5em;
	/* 	background: #f2f2f2; */
}

.contact td {
	/* 	background: #f2f2f2; */
	
}

.contact td address {
	font-weight: normal !important;
}

#map p {
	margin-bottom: 2px;
}

#about p:FIRST-LETTER {
	font-size: 2em;
}

/* prevent page shift css-tricks.com
    /eliminate-jumps-in-horizontal-centering-by-forcing-a-scroll-bar */
html {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow-y: scroll;
}

#logoh1 {
	margin-bottom: 2px !important;
}

.menu-l2>a {
	font-family: "Open Sans Condensed", serif !important;
	font-weight: bold !important;
	font-size: 1.1em !important;
	padding: 2px !important;
	border-style: none !important;
	margin: 4px;
	/*text-transform: uppercase;*/
}

.menu-l2 a:hover {
	color: #933A93 !important;
	/*background-color: #A1A1A1 !important;*/
}

.semi-transparent {
	opacity: 0.9;
	border-top-color: #933A93 !important;
	border-top-width: 2px;
	border-top-style: dotted;
	text-align: center;
}

.right-border {
	border-right: black dotted thin;
}

.menu-l3 a {
	font-family: "Open Sans Condensed", serif !important;
	/*font-weight: bold !important;*/
	font-size: 1.1em !important;
	padding: 1px !important;
	border-style: none !important;
	margin: 3px;
	background-color: transparent !important;
	/*text-transform: uppercase;*/
}

.dropdown h3 {
	color: #933A93;
}

.linearBg2 {
	background-color: #F8F8F8;
}

.linearBg3 {
	/* fallback */
	background-color: #FFFFFF;
	/*background: url(images/linear_bg_2.png);*/
	background-repeat: repeat-x;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#A1A1A1),
		to(#FFFFFF));
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #FFFFFF, #A1A1A1);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #FFFFFF, #A1A1A1);
	/* IE 10 */
	background: -ms-linear-gradient(top, #FFFFFF, #A1A1A1);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #FFFFFF, #A1A1A1);
}

.align-cener {
	text-align: center;
}

.invisible {
	display: none;
}

.top-bar-style {
	opacity: 0.9;
	z-index: 200;
}

.purple-back {
	background-color: #933A93 !important;
}

.blue-back {
	background-color: #2ba6cb !important;
}

/* ######## top bar styling, color purple  ####### */
.top-bar {
	background-color: #933A93 !important;
}

.top-bar-section ul {
	background-color: transparent !important;
	/* 	background-color: #933A93 !important; */
}

.top-bar-section ul li {
	background-color: transparent !important;
	/* 	background-color: #933A93 !important; */
}

.top-bar-section ul li>a {
	background-color: transparent !important;
	/* 	background-color: #933A93 !important; */
}

.top-bar-section .dropdown li a {
	background-color: #eee !important;
	color: #111 !important;
}

.top-bar-section .dropdown li a:hover {
	/* 	background-color: #933A93 !important; */
	text-decoration: underline;
	/* 	padding-left: 18px;  */
}

.top-bar-section>ul>.divider,.top-bar-section>ul>[role="separator"] {
	border-right: solid 1px silver !important;
}

.top-bar-section .divider,.top-bar-section [role="separator"] {
	border-bottom: dotted 1px white !important;
}
/* end top bar styling */
.page-title {
	color: white !important;
	margin: 10px 0 15px 15px;
	border-radius: 10px;
	text-align: center;
}

/* gradient effect */
.gradient_black {
	background: rgb(76, 76, 76); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(76, 76, 76, 1) 0%,
		rgba(89, 89, 89, 1) 12%, rgba(102, 102, 102, 1) 25%,
		rgba(71, 71, 71, 1) 39%, rgba(44, 44, 44, 1) 50%, rgba(0, 0, 0, 1) 51%,
		rgba(17, 17, 17, 1) 60%, rgba(43, 43, 43, 1) 76%, rgba(28, 28, 28, 1)
		91%, rgba(19, 19, 19, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(76,
		76, 76, 1)), color-stop(12%, rgba(89, 89, 89, 1)),
		color-stop(25%, rgba(102, 102, 102, 1)),
		color-stop(39%, rgba(71, 71, 71, 1)),
		color-stop(50%, rgba(44, 44, 44, 1)), color-stop(51%, rgba(0, 0, 0, 1)),
		color-stop(60%, rgba(17, 17, 17, 1)),
		color-stop(76%, rgba(43, 43, 43, 1)),
		color-stop(91%, rgba(28, 28, 28, 1)),
		color-stop(100%, rgba(19, 19, 19, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(76, 76, 76, 1) 0%,
		rgba(89, 89, 89, 1) 12%, rgba(102, 102, 102, 1) 25%,
		rgba(71, 71, 71, 1) 39%, rgba(44, 44, 44, 1) 50%, rgba(0, 0, 0, 1) 51%,
		rgba(17, 17, 17, 1) 60%, rgba(43, 43, 43, 1) 76%, rgba(28, 28, 28, 1)
		91%, rgba(19, 19, 19, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(76, 76, 76, 1) 0%,
		rgba(89, 89, 89, 1) 12%, rgba(102, 102, 102, 1) 25%,
		rgba(71, 71, 71, 1) 39%, rgba(44, 44, 44, 1) 50%, rgba(0, 0, 0, 1) 51%,
		rgba(17, 17, 17, 1) 60%, rgba(43, 43, 43, 1) 76%, rgba(28, 28, 28, 1)
		91%, rgba(19, 19, 19, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(76, 76, 76, 1) 0%,
		rgba(89, 89, 89, 1) 12%, rgba(102, 102, 102, 1) 25%,
		rgba(71, 71, 71, 1) 39%, rgba(44, 44, 44, 1) 50%, rgba(0, 0, 0, 1) 51%,
		rgba(17, 17, 17, 1) 60%, rgba(43, 43, 43, 1) 76%, rgba(28, 28, 28, 1)
		91%, rgba(19, 19, 19, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(76, 76, 76, 1) 0%,
		rgba(89, 89, 89, 1) 12%, rgba(102, 102, 102, 1) 25%,
		rgba(71, 71, 71, 1) 39%, rgba(44, 44, 44, 1) 50%, rgba(0, 0, 0, 1) 51%,
		rgba(17, 17, 17, 1) 60%, rgba(43, 43, 43, 1) 76%, rgba(28, 28, 28, 1)
		91%, rgba(19, 19, 19, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(        startColorstr='#4c4c4c',
		endColorstr='#131313', GradientType=0); /* IE6-9 */
}

[class*="foundicon-"]:after {
	position: relative;
	top: -8px;
	left: 10px;
	color: #888;
	font-size: 60%;
	font-style: normal;
}

.clear-search {
	font-size: 15px;
	position: absolute;
	top: 8px;
	left: 4%;
	/* 	opacity:0.9; */
}

#clear-search-id {
	width: 15px;
	height: 15px;
	cursor: pointer;
	z-index: 5;
}

.full-row {
	width: 100%;
}

.big-fashion {
	background-color: #444444;
	color: white;
	border-width: 0px 40px;
	border-style: solid;
	border-color: #933A93;
	padding: 15px 5px;
}

.css-transition {
	-webkit-transition: all 2s ease;
	-moz-transition: all 2s ease;
	-o-transition: all 2s ease;
	transition: all 2s ease;
}

#filter {
	-webkit-transition: width 0.5s ease;
	-moz-transition: width 0.5s ease;
	-o-transition: width 0.5s ease;
	transition: width 0.5s ease;	
}
#filter:FOCUS {
	width:250px;
}