/* 
    #####  Application CSS file for Gerisite  ######## 
*/

/*
	#####  COMMON to ALL screens ######## 
*/
.mob-anchor {
	/* 	nothing for normal view only for mobile */
	
}

.hbg {
	background-color: #444444;
	border-left: 2em solid #933A93;
}

.hbg #bif {
	margin-top: 0;
}

/* for the angled right side hader */
.hbghead {
	background-color: #444444;
	margin-bottom: 1em;
}

.hbghead .innerhead {
	margin-top: 0;
	color: white;
}

.hbghead_title {
	background-color: white !important;
	border-right: 2.5em solid transparent;
	border-top: 2.5em solid #474747;
	height: 0;
	margin-bottom: 1em;
}

.hbghead_title .innerhead {
	margin-top: -1.7em !important;
	color: white;
}

.top-bar {
	margin-top: 5px;
	margin-bottom: 5px !important;
}

div.large-3:nth-child(1)>h1:nth-child(1) {
	margin-top: 4px !important;
}

.back_black {
	background-color: #444444 !important;
	border-left-style: solid;
	border-left-width: 15px;
	border-left-color: #bb52Ae;
	-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.color_white {
	color: white !important;
	font-weight: bold;
	text-align: center;
}

.inline {
	/* 	display: inline; */
	float: left;
}

.align_right {
	text-align: right;
}

.align_left {
	text-align: left;
}

.auto_margin {
	margin: 5px !important;
}

.round_corners {
	border-radius: 80px;
	border-color: transparent;
	border-style: solid;
	border-width: 1px;
}

.quote {
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
	font-color: white;
	color: white !important;
	text-align: center;
}

div.orbit-caption {
	text-align: center !important;
}

.panel {
	padding: 10px 10px !important;
}

.panelWhite {
	padding: 11px 11px;
}

.text-input {
	border-radius: 20px;
	/*     margin-top: 9px !important; */
	margin-bottom: 0 !important;
	padding: 2px !important;
	padding-left: 15px !important;
	padding-right: 10px !important;
	width: 85%;
	box-shadow: 2px 2px 4px 2px #777 inset !important;
	-moz-box-shadow: 2px 2px 4px 2px #777 inset !important;
	-webkit-box-shadow: 2px 2px 4px 2px #777 inset !important;
}

#filter-count {
	margin-top: 10px;
}

.searchdata p.margin4 {
	margin-bottom: 4px;
}

.button-group {
	float: right !important;
}

#fbimg {
	font-size: 28px;
}

/*** footer specific */
footer {
	border-top: 3px solid #EDEAE5;
	font-weight: bold;
	font-weight: .8em;
	color: gray;
}

.footertext {
	padding-top: 2%;
	font-size: .75em;
	margin: 0px !important;
	/* 	line-height: 0.8em; */
}

.footerLeft {
	padding-left: 35%;
	float: right;
	padding-top: 2%;
	width: 100%;
}

.footerLeft ul li {
	display: inline;
	list-style: none;
	margin-right: 2%;
	padding-right: 10px;
	border-right: 2px solid #BAB7B2;
}

.footerLeft>ul:nth-child(1)>li:Last-child {
	border-style: none !important;
	margin-right: 0;
	padding-right: 0;
}

.footerLeft ul {
	margin-bottom: 5px;
}

.footerLeft ul li a {
	font-size: .75em;
	text-decoration: none;
	/* 	font-weight: bold; */
	color: #222222;
}

.footerLeft ul li a:hover {
	text-decoration: underline;
}
/* end footer */
#topbartab {
	width: 100%;
	border: none;
	margin: 0px;
}

/***** sticky footer *****/
body {
	margin: 0;
	padding: 0;
	height: 100%;
	/* 		font-family: "Open Sans Condensed", serif; */
}

#wrapper {
	min-height: 100%;
	position: relative;
}

#content {
	padding-bottom: 55px; /* Height of the footer element */
}

#footer {
	height: 55px;
	position: absolute;
	bottom: 0;
	width: 100%;
}
/***** sticky footer End *****/
.contact {
	width: 90%;
	border-style: none;
	text-align: center;
	font-weight: bold;
}

.contact td.header {
	font-size: 1.5em;
}

.contact td address {
	font-weight: normal !important;
}

#map p {
	margin-bottom: 2px;
}

#about p:FIRST-LETTER {
	font-size: 2em;
}

/* prevent page shift css-tricks.com
    /eliminate-jumps-in-horizontal-centering-by-forcing-a-scroll-bar */
html {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow-y: scroll;
}

#logoh1 {
	margin-bottom: 2px !important;
}

.menu-l2>a {
	font-family: "Open Sans Condensed", serif !important;
	font-weight: bold !important;
	font-size: 1.1em !important;
	padding: 2px !important;
	border-style: none !important;
	margin: 4px;
}

.menu-l2 a:hover {
	color: #933A93 !important;
}

.semi-transparent {
	opacity: 0.9;
	border-top-color: #933A93 !important;
	border-top-width: 2px;
	border-top-style: dotted;
	text-align: center;
}

.right-border {
	border-right: black dotted thin;
}

.dropdown h3 {
	color: #933A93;
}

.linearBg2 {
	background-color: #F8F8F8;
}

.linearBg3 {
	/* fallback */
	background-color: #FFFFFF;
	/*background: url(images/linear_bg_2.png);*/
	background-repeat: repeat-x;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#A1A1A1),
		to(#FFFFFF));
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #FFFFFF, #A1A1A1);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #FFFFFF, #A1A1A1);
	/* IE 10 */
	background: -ms-linear-gradient(top, #FFFFFF, #A1A1A1);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #FFFFFF, #A1A1A1);
}

.align-cener {
	text-align: center;
}

.invisible {
	display: none;
}

.top-bar-style {
	opacity: 0.9;
	z-index: 200;
}

.purple-back {
	background-color: #933A93 !important;
}

.blue-back {
	background-color: #2ba6cb !important;
}

.top-bar-section ul {
	background-color: transparent !important;
	background: transparent !important;
}

.top-bar-section ul li {
	background-color: transparent !important;
	background: transparent !important;
}

.top-bar-section ul li>a {
	color: #222 !important;
}

/* end top bar styling */
.page-title {
	color: white !important;
	margin: 10px 0 15px 15px;
	border-radius: 10px;
	text-align: center;
}

.gradient_black_1 {
	background: rgb(230, 230, 230); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(256, 256, 256, 1) 0%,
		rgba(230, 230, 230, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(256,
		256, 256, 1)), color-stop(100%, rgba(230, 230, 230, 1)));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(256, 256, 256, 1) 0%,
		rgba(230, 230, 230, 1) 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(256, 256, 256, 1) 0%,
		rgba(230, 230, 230, 1) 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(256, 256, 256, 1) 0%,
		rgba(230, 230, 230, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(256, 256, 256, 1) 0%,
		rgba(230, 230, 230, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  
		                     
		                     startColorstr='#4c4c4c', endColorstr='#131313',
		GradientType=0); /* IE6-9 */
}

.gradient_black {
	background-color: transparent !important;
}

[class*="foundicon-"]:after {
	position: relative;
	top: -8px;
	left: 10px;
	color: #888;
	font-size: 60%;
	font-style: normal;
}

.clear-search {
	font-size: 15px;
	position: absolute;
	top: 8px;
	left: 4%;
	/* 	opacity:0.9; */
}

#clear-search-id {
	width: 15px;
	height: 15px;
	cursor: pointer;
	z-index: 5;
}

.full-row {
	width: 95%;
	margin: auto;
}

.big-fashion {
	background-color: #444444;
	color: white;
	padding: 15px 5px;
	-webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.first-let {
	font-variant: small-caps;
}

.first-let:FIRST-LETTER {
	font-size: 2em;
	font-weight: bold;
	color: #933A93;
}

/* 
	#############################  SPECIFIC for DESKTOPS  ###################### 
*/
@media screen and (max-width: 2000px) and (min-width: 940px) {
	/* 	top nav menu related  */
	.top-bar-section .dropdown li a {
		background-color: #eee !important;
		color: #111 !important;
	}
	.top-bar-section .dropdown li a:hover {
		text-decoration: underline;
	}
	.top-bar-section li>a {
		min-height: 40px !important;
	}
	.top-bar-section>ul>li>a:HOVER {
		/* 	border-bottom: thick solid #933A93; */
		color: #e99fd9;
	}
	.menu-top-font {
		font-family: "Open Sans Condensed", serif;
		font-weight: bold;
		font-size: 1.5em !important;
	}
	.menu-top-font>a:HOVER {
		color: #933A93 !important;
	}
	.menu-sub-font {
		font-weight: bold !important;
		font-size: 1em !important;
	}

	/* for the angled right side big in fashion box. */
	.hbg {
		background-color: white !important;
		border-right: 2.5em solid transparent;
		border-top: 5.5em solid #474747;
		height: 0;
		border-left: 4em solid #933A93 !important;
	}
	.hbg #bif {
		margin-top: -5em !important;
	}

	/* for the angled right side hader */
	.hbghead {
		background-color: white !important;
		border-right: 2.5em solid transparent;
		border-top: 3.5em solid #474747;
		height: 0;
		margin-bottom: 1em;
	}
	.hbghead .innerhead {
		margin-top: -1.5em !important;
		color: white;
	}

	/* for menu slide-down effect*/
	.top-bar-section .dropdown {
		max-height: 0px;
		overflow: hidden;
		opacity: 0;
		-webkit-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		-ms-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
		opacity: 0;
	}
	.top-bar-section .has-dropdown:HOVER .dropdown {
		max-height: 200px;
		opacity: 1;
		transition-delay: 0.1s;
	}

	/* for images on hover style*/
	img.prodimg {
		-webkit-transition: all 0.5s ease-in;
		-moz-transition: all 0.5s ease-in;
		-ms-transition: all 0.5s ease-in;
		-o-transition: all 0.5s ease-in;
		transition: all 0.5s ease-in;
	}
	img.prodimg:HOVER {
		-webkit-transform: scale(1.3);
		-moz-transform: scale(1.3);
		transform: scale(1.3);
		/* 		border: thick solid #933A93; */
		-webkit-box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
		-moz-box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
		box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
	}
	#filter {
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
		float: right;
	}
	#filter:FOCUS {
		width: 200px;
		/* 		left: -20px; */
	}

	/* 	spotlight */
	#bifId-outer {
		position: relative;
		background: #222;
	}
	#bifId {
		z-index: 5;
		opacity: 0.7;
		position: absolute;
		left: 12%;
		top: 0;
		width: 15%;
		height: 100%;
		background: -moz-radial-gradient(center center, circle closest-side, white 0%, #eee
			10%, #ddd 30%, #aaa 60%, #222 150%);
		background: -webkit-radial-gradient(center center, circle closest-side, white 0%,
			#eee 10%, #ddd 30%, #aaa 60%, #222 150%);
		background: -ms-radial-gradient(center center, circle closest-side, white 0%, #eee
			10%, #ddd 30%, #aaa 60%, #222 150%); /* IE10+ */
		background: radial-gradient(center center, circle closest-side, white 0%, #eee 10%,
			#ddd 30%, #aaa 60%, #222 140%); /* W3C */
	}
	.credit-triangle {
		position: absolute;
		left: 93%;
		top: 100%;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 12px 8px 0 8px;
		border-color: #ceecda transparent transparent transparent;
	}
	.top-bar-section>ul>.divider,.top-bar-section>ul>[role="separator"] {
		border-right: solid 1px silver !important;
		border-left: none !important;
		/* 	border-style: inset !important; */
		height: 35px !important;
	}
	.top-bar-section ul li>a {
		background-color: transparent !important;
		background: transparent !important;
		color: #222 !important;
	}
}

/* 
	#####################  SPECIFIC TO TABLETS  / MOBILE #####################  
*/
@media screen and (max-width: 939px) and (min-width: 50px) {
	.footerLeft {
		padding-left: 2% !important;
		float: right;
		padding-top: 2%;
		width: 100%;
	}
	.footerLeft ul li a {
		border-style: solid;
		border-width: 1px;
		cursor: pointer;
		font-family: inherit;
		font-weight: bold;
		line-height: 1;
		margin: 0 0 0.5em;
		position: relative;
		text-decoration: none;
		text-align: center;
		display: inline-block;
		padding-top: 0.5em;
		padding-right: 1em;
		padding-bottom: 0.5em;
		padding-left: 1em;
		/* 		font-size: 1em; */
		/* 		background-color: #444444; */
		background-color: #2ba6cb;
		border-color: #999999;
		color: white !important;
		-webkit-border-radius: 1000px;
		border-radius: 1000px;
		width: 45%;
	}
	.footerLeft ul li {
		border-style: none !important;
		padding-right: 2px !important;
	}
	.footerLeft ul li a:hover,.footerLeft ul li a:focus {
		/* 		background-color: #777777; */
		background-color: #2284a1;
	}
	.footerLeft ul li a:hover {
		text-decoration: none !important;
	}
	.mobilenoshow {
		width: 0px;
		display: none !important;
	}
	#content {
		padding-bottom: 110px !important; /* Height of the footer element */
	}
	#footer {
		height: 110px !important;
	}
	.mob-anchor {
		border-style: solid;
		border-width: 1px;
		cursor: pointer;
		font-family: inherit;
		font-weight: bold;
		line-height: 1;
		margin: 0 0 1.25em;
		position: relative;
		text-decoration: none;
		text-align: center;
		display: inline-block;
		padding-top: 0.75em;
		padding-right: 1.5em;
		padding-bottom: 0.8125em;
		padding-left: 1.5em;
		font-size: 1em;
		background-color: #2ba6cb;
		border-color: #2284a1;
		color: white;
		-webkit-border-radius: 1000px;
		border-radius: 1000px;
		width: 95%;
	}
	.mob-anchor:HOVER {
		background-color: #2284a1;
	}
	.mob-anchor.active {
		border-color: #933A93;
		border-width: 2px;
	}

	/* 	top nav menu related  
    we want to be large enought to be clikable with finger 
    and border around make it look nice. */
	.top-bar-section li a {
		min-height: 45px !important;
	}

	/* 	mobile menu bar black text */
	top-bar .toggle-topbar a {
		color: #222;
	}
	.top-bar .toggle-topbar.menu-icon a {
		color: #222 !important;
		font-size: 1.1em;
		text-indent: -68px !important;
	}
	.top-bar .toggle-topbar.menu-icon a span {
		-webkit-box-shadow: 0 10px 0 1px #222, 0 16px 0 1px #222, 0 22px 0 1px
			#222 !important;
		box-shadow: 0 10px 0 1px #222, 0 16px 0 1px #222, 0 22px 0 1px #222
			!important;
		width: 25px !important;
		height: 1px !important;
	}
	.top-bar .title-area {
		background: rgb(230, 230, 230) !important;
	}
	.top-bar.expanded .title-area {
		background: rgb(210, 210, 210);
	}
	.top-bar.expanded .toggle-topbar a {
		color: #222 !important;
	}
	.top-bar.expanded .toggle-topbar a span {
		-webkit-box-shadow: 0 10px 0 1px #222, 0 16px 0 1px #222, 0 22px 0 1px
			#222 !important;
		box-shadow: 0 10px 0 1px #222, 0 16px 0 1px #222, 0 22px 0 1px #222
			!important;
	}
	.top-bar-section .divider,.top-bar-section [role="separator"] {
		/* 		border-bottom: solid 1px silver; */
		border-bottom: none;
		border-top: none;
	}
	.top-bar-section .dropdown li a {
/* 		background: transparent !important; */
	}
	nav {
		-webkit-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		-ms-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
	}
	.top-bar.expanded {
		height: 350px !important;
	}
	.menu-top-font,.menu-sub-font {
		font-family: "Open Sans Condensed", serif;
		font-weight: bold;
		font-size: 1.2em !important;
	}
	.mob-but-menu {
		border-style: solid;
		border-width: 1px;
		cursor: pointer;
		font-family: inherit;
		font-weight: bold;
		line-height: 1;
		margin: 0 0 0.25em;
		position: relative;
		text-decoration: none;
		text-align: center;
		display: inline-block;
		/* 		padding-top: 7px !important; */
		/* 		padding-right: 0.5em !important; */
		/* 		padding-bottom: 7px !important; */
		/* 		padding-left: 0.5em !important; */
		background: #FBBFFB !important;
		border-color: #A88AA8;
		color: white;
		/* 		-webkit-border-radius: 1000px; */
		/* 		border-radius: 1000px; */
		width: 95%;
	}
}